#home{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#search-bar{
    font-size: 25px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgb(33, 33, 33);
}

#search{
    font-size: 25px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color:  rgb(122, 127, 227);
}

#search:hover{
    color: blue;
    cursor:pointer;
}
#search:active{
    background-color:aliceblue;
}

#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}