#header{
    width:90%;
    margin-left: 5%;
    margin-top : 2%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    background-color:rgba(251, 238, 238, 0.862)
}

#logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}